.orderstate {
  width: 800px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  border: 2px solid #524f4f;
  .box {
    box-sizing: border-box;
    border: 1px solid #b0e691;
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .goback {
    position: relative;
    right: -50px;
  }
}

.payment {
  width: 300px;
  height: 400px;
  border: 1px solid #b0e691;;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    //
  }
}